h1{
  font-family: Trebuchet MS;
}

select{
  font-size: 18px;
}

h2{
  color: blue;
}

#container{
  justify-content: center;
  border: 1px solid black;
  padding: 2%;

  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 150px 15px 10px 230px 540px 60px 200px auto;
  grid-template-areas:
      "h h h h h h"
      "dh . . . . ."
      "d d d d d d"
      "l l l l r r"
      "c c c c c c"
      "sh sh . . . ."
      "s s s . . ."
      "n n n n n n";
}

#header{
  grid-area: h;
  background-color: LightBlue;
  opacity: 0.8;
}

#divHomeHead{
  grid-area: dh;
  font-size: 20px;
  font-weight: bold;
}

#divHome{
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 30px);
  /* visibility: hidden; */
}

#info-left{
  grid-area: l;
}

#info-right{
  grid-area: r;
}

#charts{
  grid-area: c;
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: repeat(2, 500px);
}

#statsHead{
  grid-area: sh;
}

#stats{
  grid-area: s;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 50px);
  align-items: center;
  font-family: monospace;
  font-size: 16px;
}

#news{
  grid-area: n;
}
