
#container{
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 200px 500px 50px 250px auto;
  grid-template-areas:
      "h h h h h h"
      "l l l l r r"
      "c c c c c c"
      ". . sh sh . ."
      ". s s s . ."
      "n n n n n n"
}

#header{
  grid-area: h;
}

#info-left{
  grid-area: l;
}

#info-right{
  grid-area: r;
}

#charts{
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 500px);
}

#statsHead{
  grid-area: sh;
}

#stats{
  grid-area: s;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 50px);
  align-items: center;
}

#news{
  grid-area: n;
}
